<% if user_signed_in? %>
  <li class="nav-item nav-link">
  <%= link_to('Sair', destroy_user_session_path, method: :delete) %>
  </li>
<% else %>
  <li class="nav-item nav-link ">
  <%= link_to('Entrar', new_user_session_path) %>
  </li>
<% end %>