<% if user_signed_in? %>
  <a href="/"><img class="navbar-brand" src="<%= image_path 'Voe.png' %>" alt="Logomarca"></a>
  <li class="nav-item nav-link ml-auto">
  <%= link_to('Sair', destroy_user_session_path, method: :delete) %>
  </li>
<% else %>
  <li class="nav-item nav-link ">
  <%= link_to('Entrar', new_user_session_path) %>
  </li>
<% end %>
