/* line 1, /home/luidi/Desktop/opencoop/app/assets/stylesheets/devise.scss */
.gray {
  background: #4d4d4d;
}

/* line 5, /home/luidi/Desktop/opencoop/app/assets/stylesheets/devise.scss */
.gray a {
  color: #fff;
}

/* line 9, /home/luidi/Desktop/opencoop/app/assets/stylesheets/devise.scss */
.gray-bar {
  height: 160px;
  width: 100%;
  margin-top: 20px;
  background-color: #4d4d4d;
}

/* line 16, /home/luidi/Desktop/opencoop/app/assets/stylesheets/devise.scss */
.cadastro h1 {
  color: #4d4d4d;
  font-weight: normal;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

/* line 23, /home/luidi/Desktop/opencoop/app/assets/stylesheets/devise.scss */
.cadastro h4 {
  color: #4d4d4d;
  margin: 20px 0;
}

/* line 28, /home/luidi/Desktop/opencoop/app/assets/stylesheets/devise.scss */
.cadastro label {
  margin-top: 0;
}

/* line 32, /home/luidi/Desktop/opencoop/app/assets/stylesheets/devise.scss */
.cadastro .form-control {
  border-radius: 0;
  margin-bottom: 18px;
}

/* line 37, /home/luidi/Desktop/opencoop/app/assets/stylesheets/devise.scss */
.btn-gray {
  background-color: #4d4d4d;
  color: #fff;
}
