
<div class="form-inputs">
  <%= f.input :optionl_1_name %>
  <%= f.input :optionl_1_percent, as: :string, input_html: { class: 'money' } %>
  <%= f.input :optionl_2_name %>
  <%= f.input :optionl_2_percent, as: :string, input_html: { class: 'money' } %>
</div>