<div class="head-form">
  <h1>EDITAR COOPERATIVA</h1>
</div>

<div class="container">
  <div class="col-md-7 col-lg-7 mt-4 gray-form">

		<%= render 'form', cooperative: @cooperative %>

		<%= link_to 'Visualizar', @cooperative %> |
		<%= link_to 'Voltar', cooperatives_path %>
		<div class="mb-2">
		</div>
	</div>
</div>
