<div class="head-form">
  <h1>CRIAR COOPERATIVA</h1>
</div>

<div class="container">
  <div class="col-sm-12 col-md-7 col-lg-7 mt-4 gray-form">

    <%= render 'form', cooperative: @cooperative %>

    <%= link_to 'Voltar', cooperatives_path %>
  </div>
</div>
