<div class="head-form">
  <h1>CRIAR COOPERATIVA</h1>
</div>

<div class="container">
  <div class="col-md-6 col-lg-6 mt-4 gray-form">

    <%= render 'form', cooperative: @cooperative %>

    <%= link_to 'Voltar', cooperatives_path %>
  </div>
</div>
