/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap";
@import "font-awesome";
@import "devise";
@import "Chart";

.notice, .alert{
  display: none;
}

small{
  font-size: 10px !important;
}

.form-group{
  margin-bottom: 0 !important;
}

label, .submit{
  margin-top: 20px;
}

a:hover{
  background-color: transparent;
}

#top{
  margin-top: 200px;
}

#top img{
  height: 60px;
}

#video{
  overflow: hidden;
  height: 500px;
  width: 100%;
  margin-top: -80px;
}

#block-video{
  position: absolute;
  height: 100%;
  width: 100%;
  -webkit-box-shadow: inset -2px -200px 60px -60px rgba(0,0,0,0.5), inset -2px 300px 60px 0px rgba(0,0,0,0.5);
     -moz-box-shadow: inset -2px -200px 60px -60px rgba(0,0,0,0.5), inset -2px 300px 60px 0px rgba(0,0,0,0.5);
          box-shadow: inset -2px -200px 60px -60px rgba(0,0,0,0.5), inset -2px 300px 60px 0px rgba(0,0,0,0.5);
  margin-top: -123px;
}

#block-video #conteudo{
  color: white;
  position: absolute;
  bottom: 20px;
}

#video iframe{
  border: 0;
  margin-top: -100px;
}

#icon-bar{
  padding-top: 70px;
  padding-bottom: 20px;
  color: #4D4D4D;
}

#icon-bar i{
  color: #f84901;
}

#idealizador{
  background-color: #4D4D4D;
  height: 300px;
  clip-path: polygon(0 0, 100% 20%, 100% 57%, 0 100%);
  color: white;
  padding-top: 100px;
  padding-left: 110px;
}

#idealizador i{
  font-size: 80px;
  vertical-align: middle;
}

#objetivo{
  color: #4D4D4D;
  padding: 50px 0;
}

#background{
  position: absolute;
  z-index: -99;
  height: 590px;
  width: 300px;
  background-image: url("background.png");
  background-repeat: none;
  background-position: right;background-size: cover;
  top: 750px;
  right: 0;
}

#objetivo p, #idealizador p{
  font-size: 17px;
}

#compartilhar{
  background-color: #4D4D4D;
  height: 300px;
  clip-path: polygon(0 65%, 0 25%, 100% 1%, 100% 100%);
  text-align: right;
  color: white;
  padding-top: 100px;
  padding-right: 150px;
}

.btn-perfil{
  padding: 10px 20px;
  background-color: #f84901;
  color: white;
  border: none;
  margin-top: 10px;
}

.btn-perfil:hover{
  background-color: #f84901;
}

.btn-perfil:visited{
  color: white;
}

// .btn-gray, .gray-form .btn{
//   background-color: #4d4d4d;
//   color: #fff
// }

.form-control{
  border-radius: 0
}

.white-txt a{
  color: white;
  font-size: 18px;
}

.pagamento{
  margin-top: 50px;
  color: #707070;
}

.quadro_pagamento{
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px 0;
}

.quadro_pagamento h5{
  margin-top: 10px;
}

.head-form{
  background-color: #F5F5F5;
  padding: 50px 130px;
}

#pagamento1{
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-right: -10px;
}

#pagamento1 .item{
  padding: 30px 10px;
  border-bottom: 1px solid #ccc;
}

#pagamento1 .last{
  border: 0;
}

#pagamento1 i{
  float: right;
  font-size: 40px;
}

#pagamento2{
  background-color: #F5F5F5;
  border-radius: 5px;
}

.nav{
  height: 70px;
}

.navbar-brand{
  width: 150px;
  height: auto;
  float: left;
}

.nav-item{
  padding-top: 25px;
}

.saldo{
  color: #f84901;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px 0;
  margin-top: 0 !important;
}

#saldo_title{
  margin-top: 17px !important;
  margin-bottom: 20px !important;
  margin-top: 0;
  font-weight: bold;
  font-size: 16px;
}


.white-txt a:hover{ 
  text-decoration: none;  
  color: lightgray  
} 

.share-icons-single a{  
  margin-right: 15px; 
  margin-left: 15px;  
  cursor: pointer;  
} 

.share-icons-single a i{  
  color: #f84901; 
} 

.share-icons-single a:hover i{  
  color: #E0290B  
} 
