/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap";
@import "font-awesome";
@import "devise";
@import "Chart";

small{
  font-size: 10px !important;
}

.form-group{
  margin-bottom: 0 !important;
}

label, .submit{
  margin-top: 20px;
}

a:hover{
  background-color: transparent;
}

.top{
  position: fixed;
  background-color:  #4D4D4D;
  z-index: 99;
  width: 100%;
  height: 100px;
  padding-top: 17px;
  color: white;
  margin-top: -60px;
}

.top img{
  height: 60px;
}

#video{
  overflow: hidden;
  height: 400px;
  width: 100%;
  margin-top: 50px;
}

#block-video{
  position: absolute;
  height: 100%;
  width: 100%;
  -webkit-box-shadow: inset -2px -200px 60px -60px rgba(0,0,0,0.6);
     -moz-box-shadow: inset -2px -200px 60px -60px rgba(0,0,0,0.6);
          box-shadow: inset -2px -200px 60px -60px rgba(0,0,0,0.6);
  margin-top: -223px;
}

#block-video #conteudo{
  color: white;
  position: absolute;
  bottom: 20px;
}
#block-video a{
  color: white;
  font-size: 35px;
}

#video iframe{
  border: 0;
  margin-top: -100px;
}

#icon-bar{
  padding-top: 70px;
  padding-bottom: 20px;
  color: #4D4D4D;
}

#idealizador{
  background-color: #4D4D4D;
  height: 300px;
  clip-path: polygon(0 0, 100% 20%, 100% 57%, 0 100%);
  color: white;
  padding-top: 100px;
  padding-left: 110px;
}

#idealizador i{
  font-size: 80px;
  vertical-align: middle;
}

#objetivo{
  color: #4D4D4D;
  padding: 50px 0;
}

#objetivo p, #idealizador p{
  font-size: 17px;
}

#compartilhar{
  background-color: #4D4D4D;
  height: 300px;
  clip-path: polygon(0 65%, 0 25%, 100% 1%, 100% 100%);
  text-align: right;
  color: white;
  padding-top: 100px;
  padding-right: 150px;
}

.btn-perfil{
  padding: 10px 20px;
  background-color: #f84901;
  color: white;
  border: none;
  margin-top: 10px;
}

.btn-perfil:hover{
  background-color: #E0290B
}

.btn-perfil:visited{
  color: white;
}

.btn-gray, .gray-form .btn{
  background-color: #4d4d4d;
  color: #fff
}

.form-control{
  border-radius: 0
}

.white-txt a{
  color: white;
  font-size: 18px;
}

.white-txt a:hover{
  text-decoration: none;
  color: lightgray
}

.share-icons-single a{
  margin-right: 15px;
  margin-left: 15px;
  cursor: pointer;
}

.share-icons-single a i{
  color: #f84901;
}

.share-icons-single a:hover i{
  color: #E0290B
}


.pagamento{
  margin-top: 50px;
}

.quadro_pagamento{
  padding: 30px;
  -webkit-box-shadow: 0px 3px 11px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 3px 11px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 3px 11px 0px rgba(0,0,0,0.75);
}

.quadro_pagamento h5{
  margin-top: 10px;
}

.submit{
  background-color: #4D4D4D;
  color: white;
}

.saldo{
  box-shadow: 1px 2px 2px #c0c0c0;
  background: white
}

.saldo p{
  color: #f84901;
  font-size: 40px;
}

.saldo p span{
  color: gray;
  font-size: 20px
}
