/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap";
@import "font-awesome";
@import "devise";

small{
  font-size: 10px !important;
}

.form-group{
  margin-bottom: 0 !important;
}

label, .submit{
  margin-top: 20px;
}

a:hover{
  background-color: transparent;
}

.top{
  position: fixed;
  background-color:  #4D4D4D;
  z-index: 99;
  width: 100%;
  height: 70px;
  padding-top: 17px;
  color: white;
  margin-top: -60px;
}

#video{
  overflow: hidden;
  height: 400px;
  width: 100%;
}

#block-video{
  position: absolute;
  height: 100%;
  width: 100%;
}

#video iframe{
  border: 0;
  margin-top: -100px;
}

#icon-bar{
  padding-top: 70px;
  padding-bottom: 20px;
  color: #4D4D4D;
}

#idealizador{
  background-color: #4D4D4D;
  height: 300px;
  clip-path: polygon(0 0, 100% 20%, 100% 57%, 0 100%);
  color: white;
  padding-top: 100px;
  padding-left: 110px;
}

#idealizador i{
  font-size: 80px;
  vertical-align: middle;
}

#objetivo{
  color: #4D4D4D;
  padding: 50px 0;
}

#objetivo p, #idealizador p{
  font-size: 17px;
}

#compartilhar{
  background-color: #4D4D4D;
  height: 300px;
  clip-path: polygon(0 65%, 0 25%, 100% 1%, 100% 100%);
  text-align: right;
  color: white;
  padding-top: 100px;
  padding-right: 150px;
}

.btn-perfil{
  padding: 5px 50px;
}

.btn-gray, .gray-form .btn{
  background-color: #4d4d4d;
  color: #fff
}

.form-control{
  border-radius: 0
}

.white-txt a{
  color: white;
  font-size: 18px;
}
