.gray{
	background: rgb(77,77,77);
}

.gray a{
	color: #fff	
}

.gray-bar{
	height: 160px;
	width: 100%;
	margin-top: 20px;
	background-color: rgb(77,77,77)
}

.cadastro h1{
	color: rgb(77,77,77);
  font-weight: normal;
  padding-top: 2rem;
  padding-bottom: 2rem
}

.cadastro h4{
	color: rgb(77,77,77);
	margin: 20px 0
}

.cadastro label{
	margin-top: 0;
}

.cadastro .form-control{
	border-radius: 0;
	margin-bottom: 18px
}

.btn-gray{
	background-color: rgb(77,77,77);
	color: #fff
}
